
ul{
padding-left:0px;
}




/*----Tabs-----*/

.tabs{
    width:100%;
    display:inline-block;
}

.tab-links{
    margin-bottom:0px;
    margin-top:16px;
}

.tab-links:after{
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}

.tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background:#7FB5DA;
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;

}

.tab-links a:hover{
    background:#a7cce5;
    text-decoration:none;
}

li.active a,li.active a:hover{
    background:#fff'
    color:#4c4c4c;
}


/*----Content of Tabs -----*/

.tab-content{
    padding:15px;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#fff;
}

.tab{
    display:none;
}

.tab.active{
    display:block;

}


/*----Pre Code ----*/
pre {

    background-color:#f8f8f8;
    border:1px solid #ccc;
    font-size:13px;
    line-height:19px;
    overflow:auto;
    padding:6px 10px;
    border-radius:3px;

}

pre code{
    background-color:transparent;
    border:none;

}

/*-----Friends-----*/

.friends-list{
    list-style:none;

}

.friends-list li {
    padding:15px;
    margin:2px;
    display:inline-block;
    border-radius:3px 3px 0px 0px; 
    border:3px solid #ccc; 
    border-style:outset;  
    width:150px;
    vertical-align:top;
}

.Friends-list li a{
    font-size:16px;
    text-align:center;
    margin-left:2px;
}

.Friends-list li img{
    float:left;
}

/*-----Feeds-----*/

.feed-comments { 
    list-style:none;
}

.feed-comments li{
   border-radius:3px 3px 3px 3px;
   border:3px solid #ccc;
   border-style:outset;
   padding:5px;
   margin:5px;
}

.feed-action{
   border-radius:3px 3px 3px 3px;
   border:3px solid #ccc;
   padding:5px;
   margin:5px;

}

.feed-action img{
   width:auto;
   height:auto;
   border-radius:30%;
   float:left;
}

#feeds{
  
   border-radius:3px 3px 3px 3px;
   border:3px solid #ccc;
   border-style:outset;

}

